.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.row {
    clear: left;
}

.cell {
    width: 50px;
    height: 50px;
    float: left;
    background: #84142d;
}

.cell.on {
	background: #29c7ac;
}

body {
    background: #54123b;
    position: relative;
}

button {
	background: #c02739;
	color: white;
	border: 0;
	padding: 10px;
}
